/* You can add global styles to this file, and also import other style files */
:root{
    --color-text: grey;
    --size-text-1: 12px;
    --boder-card: 8px;
    // --color-green-1 : #008752;
    // --color-green-2 : #8DC63F;
    --color-green-1 : green;
    --color-green-2 : greenyellow;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
