// .example-container {
//     position: absolute;
//     top: 60px;
//     bottom: 60px;
//     left: 0;
//     right: 0;
//   }
  
//   .example-sidenav {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 200px;
//     background: rgba(255, 0, 0, 0.5);
//   }
  
//   .example-header {
//     position: fixed;
//     top: 0;
//     left: 200px;
//     right: 0;
//   }
  
//   .example-footer {
//     position: fixed;
//     bottom: 0;
//     left: 200px;
//     right: 0;
//   }

h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0px;
    // z-index: 1;
    height: 40px;
    width: 80%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    background-color: #008c4a;
}
mat-sidenav-container{
    height: 100%;
}

// Move the content down so that it won't be hidden by the toolbar

mat-sidenav{
    padding-top: 3.5rem; 
    @media screen and (min-width:600px){
        padding-top: 4rem;
    }
    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }

}

// Move the content down so that it won't be hidden by the toolbar

mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width:600px) {
        padding-top: 4rem;
    }
}

.expanded {
    width: 250px;   
}

mat-expansion-panel{
    box-shadow: none !important;
}

mat-divider{
    // display: ;
    // position: fixed;
    // padding-top: 5rem;
    margin: 3rem 1rem 1rem 1rem;
}

img{
    position: absolute;
    // display: initial;
    
    width: 170px;
    // margin: 10px;
    margin: -70px 10px 10px;
    border-radius: 20px;
}