<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
        fixedInViewport="Fixed" 
        fixedTopGap="0"
        fixedBottomGap="0"
    >
    Sidenav
    </mat-sidenav>
    <mat-toolbar class="example-header">Header</mat-toolbar>
    <router-outlet></router-outlet>
    <mat-toolbar class="example-footer">Footer</mat-toolbar>
</mat-sidenav-container> -->

<mat-sidenav-container autosize>
    

    <!-- <mat-sidenav [opened]="true" mode="side"> -->
    <!-- <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'"> -->
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''"  [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
        <mat-nav-list>
            <!-- <a mat-list-item>
                <span class="entry">
                    <mat-icon>house</mat-icon>
                    <span *ngIf="!isCollapsed">Inicio</span>
                </span>
            </a> -->
            <!-- <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>basic</mat-panel-title>
                    <mat-panel-description>descripcion</mat-panel-description>
                </mat-expansion-panel-header>
                expancion
            </mat-expansion-panel> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="entry">
                            <mat-icon>house</mat-icon>
                            <span *ngIf="!isCollapsed"> Registrar </span>
                        </span>
                    </mat-panel-title>
                    <!-- <mat-panel-description></mat-panel-description> -->
                </mat-expansion-panel-header>

                <a mat-list-item>
                    <span class="entry">
                        <mat-icon>subject</mat-icon>
                        <span *ngIf="!isCollapsed"> Recepcion </span>
                    </span>
                </a>
                <a mat-list-item>
                    <span class="entry">
                        <mat-icon>settings_backup_restore</mat-icon>
                        <span *ngIf="!isCollapsed"> Devolucion </span>
                    </span>
                </a>
            </mat-expansion-panel>
            <!-- <a mat-list-item>
                <span class="entry">
                    <mat-icon>house</mat-icon>
                    <span *ngIf="!isCollapsed"> Control Recepcion </span>
                </span>
            </a> -->
            <!-- <a mat-list-item>
                <span class="entry">
                    <mat-icon>subject</mat-icon>
                    <span *ngIf="!isCollapsed"> Recepcion </span>
                </span>
            </a> -->
            <!-- <a mat-list-item>
                <span class="entry">
                    <mat-icon>settings_backup_restore</mat-icon>
                    <span *ngIf="!isCollapsed"> Devolucion </span>
                </span>
            </a> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <!-- <a mat-list-item> -->
                            <span class="entry">
                                <mat-icon>house</mat-icon>
                                <span *ngIf="!isCollapsed"> Reportes </span>
                            </span>
                        <!-- </a> -->
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <a mat-list-item>
                    <span class="entry">
                        <mat-icon>subject</mat-icon>
                        <span *ngIf="!isCollapsed">Recepcion </span>
                    </span>
                </a>
                <a mat-list-item>
                    <span class="entry">
                        <mat-icon>settings_backup_restore</mat-icon>
                        <span *ngIf="!isCollapsed">Devolucion</span>
                    </span>
                </a>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <!-- <a mat-list-item> -->
                            <span class="entry">
                                <mat-icon>settings</mat-icon>
                                <span *ngIf="!isCollapsed"> Configuracion </span>
                            </span>
                        <!-- </a> -->
                    </mat-panel-title>
                </mat-expansion-panel-header>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>business</mat-icon>
                    <span *ngIf="!isCollapsed"> Fondo </span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>location_on</mat-icon>
                    <span *ngIf="!isCollapsed">Regional</span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>devices</mat-icon>
                    <span *ngIf="!isCollapsed"> Oficina </span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>house</mat-icon>
                    <span *ngIf="!isCollapsed"> Proceso </span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>account_circle</mat-icon>
                    <span *ngIf="!isCollapsed"> Usuario </span>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>house</mat-icon>
                    <span *ngIf="!isCollapsed"> Devolucion </span>
                </span>
            </a>
        </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <!-- <button mat-icon-button aria-label="Menu Icon" > -->
            <button mat-icon-button aria-label="Menu Icon" (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1>Responsive</h1>
        </mat-toolbar>
        <h2>Lista Icono</h2>
        <p>
            link
            https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/
        </p>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

